.img1{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/15/16/04/indian-flag-2644512_960_720.jpg);
    min-height: 100%;
}
.img2{
   background-image: url(https://cdn.kabaddiadda.com/sites/default/files/2020-04/P1010604.JPG);
  min-height: 400px; 
}
.img3{
    background-image: url(https://www.ompublications.in/images/12100/History_of_Indian_Army.jpg);
    min-height: 400px; 
}
.img1,.img2,.img3{
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 0% 0% 100% 0%; */
    
    
}
.border{
          text-align: center;
          text-transform: uppercase;
          /* background-color: black; */
          color: white;
          font-size: 27px;
          letter-spacing: 8px;
          position: absolute;
          top: 50%;
          width: 100%;
}
.text{
    background-color: rgb(213, 112, 10);
    padding: 20px 70px;
    
}
body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    width: 100%;
    
}
div{
    display: block;
}
.heading{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}
.p1, .p2, .p3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    text-transform: uppercase;

}
.ptext,.border.trans{
    background-color: transparent; 
    
}
.section-one{
    background-image: url(https://i.pinimg.com/originals/ce/2f/9a/ce2f9a109599a284b214db7984194409.jpg);
    padding: 20px 50px;
    color: green;
    font-weight: bold;
}
.section-two{
  background-image:linear-gradient(to right,rgb(213, 112, 10),white,green);
    padding: 20px 50px;
    font-weight: bold;

}
.section-three{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7NFOYjIQV_M08pBtqAVIge_0yOhGy-_ggSw&usqp=CAU);
    padding: 30px 50px;
    font-weight: bold;
}
.section{
    padding: 50px 80px;
}
